.chats {
    background-color: white;
    width: 20%;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.chatItems {
    width: 80%;
}

.chatItem {
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.chatItem > div {
    margin: 5px;
    cursor: pointer;
}

.chatItem > a {
    flex: 1;
    display: flex;
    align-items: center;
}

.chatItem > a > div {
    margin: 5px
}

.modal {
    display: flex;
    justify-content: center;
    width: 80%;
}

.userItem {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: oldlace;
    border-radius: 5px;
}
